@use 'src/styles/partials/mixins' as *;

.sideMenuBtnContainer {
  top: 345px;
  left: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
  writing-mode: vertical-lr;
  text-orientation: upright;
  .sideMenuBtn {
    @include glassEffect(45px);
    border: none;
    min-height: 100px;
    gap: 15px;
  }
  &.menuOpen {
    left: 256px;
  }
}

.chevImage {
  &.left {
    transform: rotate(0deg);
  }
  &.right {
    transform: rotate(180deg);
  }
}
