.displayHeader {
  max-width: 300px;
}

.saveButton {
  position: absolute;
  right: -15px;
  top: 5px;
}

.card {
  transition: box-shadow 0.1s ease;
  border-radius: 15px;
  &:hover {
    box-shadow: 1px 7px 20px 3px rgba(255, 255, 255, 0.5);
  }
}
