@import 'tailwindcss';

:root {
  --background: #000;
  --foreground: #171717;
  --activeRed: #ff6052;
}

@theme {
  --activeRed: #ff6052;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --activeRed: #ff6052;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overscroll-behavior: contain;
}

a {
  color: #fff;
}

a:hover,
a:focus,
a:focus-visible {
  color: var(--activeRed);
  text-decoration: underline;
  outline: none;
}

input,
select,
textarea,
input + label {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: var(--activeRed);
}

button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

button.btn-secondary {
  background-color: transparent;
  color: var(--activeRed);
}
