.pageBody {
  min-height: calc(100vh - 116px - 64px);
}

.pageGradientBottom {
  z-index: -1;
  opacity: 0.45;
  filter: blur(200px);
  background-image: linear-gradient(
    90deg,
    rgba(252, 213, 106, 1) 0%,
    rgba(252, 188, 113, 1) 20%,
    rgba(252, 163, 120, 1) 40%,
    rgba(253, 139, 126, 1) 60%,
    rgba(253, 114, 133, 1) 80%,
    rgba(253, 89, 140, 1) 100%
  );
  // background-image: linear-gradient(#ff4533, rgba(255, 255, 255, 0));
  border-radius: 100%;
  width: 25rem;
  height: 19rem;
  position: absolute;
  bottom: 0%;
  left: -150px;
}

.pageGradientTop {
  z-index: -1;
  opacity: 0.45;
  filter: blur(200px);
  background-image: linear-gradient(#ffef33, #fff0);
  border-radius: 100%;
  width: 25rem;
  height: 19rem;
  position: absolute;
  top: -29%;
  right: 0;
}

body {
  background: rgb(33, 25, 28);
  background: linear-gradient(
    170deg,
    rgba(33, 25, 28, 1) 0%,
    rgba(51, 51, 51, 1) 50%,
    rgba(10, 8, 8, 1) 100%
  );
}
