@use 'src/styles/partials/mixins' as *;
@use 'src/styles/partials/breakpoints' as breakpoints;

.active {
  color: var(--activeRed);
}

a {
  &:hover {
    .textCallout {
      color: var(--activeRed);
    }
    img.pokeball {
      transition: 0.75s;
      transform: rotate(360deg);
      content: url('/assets/Masterball.png');
    }
  }
  &:focus,
  &:focus-visible {
    .textCallout {
      color: var(--activeRed);
    }
    img.pokeball {
      transition: 0.75s;
      transform: rotate(360deg);
      content: url('/assets/Masterball.png');
    }
  }
  &:not(:hover) img.pokeball {
    transition: 0.75s;
    transform: rotate(0deg);
    content: url('/assets/luxuryball.png');
  }
  &:not(:focus):not(:focus-visible) img.pokeball {
    transition: 0.75s;
    transform: rotate(0deg);
    content: url('/assets/luxuryball.png');
  }
}

.userButton {
  > div {
    &:first-of-type {
      padding-left: calc(var(--spacing) * 2);

      @include breakpoints.md {
        padding-left: 0;
      }
    }
  }
}

.navContainer {
  li {
    & > button {
      &:hover {
        color: var(--activeRed);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.headerBtn {
  background-color: transparent;
}

.navbar {
  @include breakpoints.md-l {
    position: absolute;
    top: 60px;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    > ul {
      @include glassEffect(10px);
    }
  }
}

li.signInButton {
  > button {
    background-color: transparent;
    @include breakpoints.md-l {
      padding-block: calc(var(--spacing) * 2);
      padding-inline: calc(var(--spacing) * 3);
    }
  }
}
