@mixin glassEffect {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.active {
  color: var(--activeRed);
}

a {
  &:hover {
    .textCallout {
      color: var(--activeRed);
    }
    img.pokeball {
      transition: 0.75s;
      transform: rotate(360deg);
      content: url('/assets/Masterball.png');
    }
  }
  &:focus,
  &:focus-visible {
    .textCallout {
      color: var(--activeRed);
    }
    img.pokeball {
      transition: 0.75s;
      transform: rotate(360deg);
      content: url('/assets/Masterball.png');
    }
  }
  &:not(:hover) img.pokeball {
    transition: 0.75s;
    transform: rotate(0deg);
    content: url('/assets/luxuryball.png');
  }
  &:not(:focus):not(:focus-visible) img.pokeball {
    transition: 0.75s;
    transform: rotate(0deg);
    content: url('/assets/luxuryball.png');
  }
}

.userButton {
  > div {
    &:first-of-type {
      padding-left: calc(var(--spacing) * 2);

      @media (width >= 48rem) {
        padding-left: 0;
      }
    }
  }
}

.navContainer {
  li {
    & > button {
      &:hover {
        color: var(--activeRed);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.headerBtn {
  background-color: transparent;
}

.navbar {
  @media (width < 48rem) {
    position: absolute;
    top: 60px;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    > ul {
      @include glassEffect;
    }
  }
}

li.signInButton {
  > button {
    background-color: transparent;
    @media (width < 48rem) {
      padding-block: calc(var(--spacing) * 2);
      padding-inline: calc(var(--spacing) * 3);
    }
  }
}
