@use 'src/styles/partials/mixins' as *;

.signUpContainer {
  height: calc(100vh - 180px);
  .innerContainer {
    @include glassEffect;
    background: rgba(255, 255, 255, 0.2);
    min-height: 408px;
  }
}

.disabledBtn {
  background-color: #99a1af;
  color: var(--disabledText);
  cursor: not-allowed;
  &:hover {
    background-color: #99a1af;
    background-image: none;
  }
}
